.test-container {
  color: red;
}
mat-grid-tile
{
  background-color:rgb(255, 255, 255);
  border: 1px solid black;
}
canvas{
  border: 1px solid black;
  // height: 1684px;
  // width: 1191px;
  height: 800px;
  width: 600px;

}
